<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MessageBox</title>
    <link rel="stylesheet" href="messagebox.css">
</head>
<body>
    <div class="box">
        <div class="box__purple">
            <p class="box__purple--plus">+</p>
            <div class="box__message">
            <form action="box__message__form">
                <button type="submit" class="box__message__form--button"><i class="box__message__form--submit"></i></button>
                <input class="box__message__form--input" type="text" placeholder="Send en besked...." name="send">
            </form>
        </div>
</body>
</html>