body {
    background-color: #7005a5;
    margin: 0;
    padding: 0;
    font-family: "Runda";
}

@font-face {
    font-family: Runda;
    src: url("../../css/fonts/Runda.otf") format("opentype");
}

.content{
    background-color: #750aaa;
}

.profile-nav {
    background-color: #65158d;
}

.mainimg  {
    display: grid;
    grid-template-columns: 20% 80%;
}

.mainimg  img{
    grid-column-start: 2;
}

/*...... P  ......*/
.p1 {
    display: grid;
    color: white;
    background-color: #750aaa;
}

.p1 p {
grid-column-start: 2;
}

#p1{
    font-size: 20px;
}

#p2{
    font-size: 15px;
}

#p2 p {
    margin-top: 0;
}

.p2{
    display: grid;
    color: white;
}

.p2 p{
    grid-column-start: 2;
    margin: 0; 
}

/*..... BUTTON.....*/
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6px;
    background-color: #750aaa
}

.card button {
    background-color: #65158d;
    height: 50px;
    width: 160px;
}

#besked button {
    background-color: #450466;
    color: white;
    border: 1px solid #3a0555;  
    border: 3px solid red; padding-right: 10px;
}

#besked{
    background-color:#41055f;
    color: white;
    border: solid 1px #450466; margin-right: 10px;
}

#second{ 
    color:white;
margin-left: 10px;
border: 1px solid rgb(138, 4, 206);
}
 
.profile-images {
       display: grid;
       grid-template-columns: 1fr 1fr;
       padding-left: 10px;
       background-color: #270638; 
       margin-bottom: 55px;
   }

   .profile-images--size {
       width: 170px;
       margin-top: 5px;
       padding-bottom: 5px;
   }

.menu{
    background: #431C60;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 50px;
    margin: 0;
    padding-left: 1px;
}

.menu__a{
    text-decoration: none;
    color: #A648EB;
    text-align: center;
    padding-top: 15px;
}

.menu__a-ative{
    text-decoration: none;
    color: white;
    border-bottom: solid 1px white;
}

/* Iconer, Navbar hvid */
.navbar__unsorted--heart {
    opacity: 1;
}