body {
    margin: 0;
    padding: 0;
    background-color: #261136;
}

/* Top section */
.search {
    background-image: url("../img/imageb.png");
    height: 357px;
    top: 0;
    position: relative;
}

.backbutton {
    top: 30px;
    left: 8px;
    padding: 0;
    position: absolute;
}


.search__paragrapth {
    margin: 0;
}

.search__title {
    font-family: "Runda";
    color: white;
    font-size: 36px;
    top: 100px;
    left: 35px;
    position: absolute;
}

.search__title2 {
    font-family: "Runda";
    color: white;
    font-size: 36px;
    top: 140px;
    left: 35px;
    position: absolute;
}

/* Mid section */
.mid__div {
    padding-left: 30px;
}

.mid__picture {
    position: absolute;
    top: 220px;
    left: 20px;
}

.mid__div--text {
    color: #8E8E8E;
    font-family: "Runda";
    font-size: 14px;
    margin-top: 170px;
}

.mid__div--img {
    border-radius: 50%;
    height: 34px;
    width: 34px;
    position: absolute;
    margin-left: 32px;
    margin-top: 10px;
}

.mid__div--textcount {
    font-family: "Runda";
    color: white;
    font-size: 14px;
    padding-top: 20px;
}

.mid__div--longline {
    position: absolute;
    left: 20px;
}

.mid__div--lines {
    float: right;
    width: 230px;
}

.mid__div--paragrapth {
    font-family: "Runda";
    color: white;
    float: right;
    padding-right: 130px;
}

.mid__div__half {
    position: absolute;
    top: 510px;
    right: 20px;
    margin-top: 50px;
}

.mid__copyright {
    margin-top: 50px;
}

/* Navbar */
.navbar {
    margin: 0;
}

.navbar__div {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background-color: #431c60;
    width: 100%;
    height: 56px;
}

.navbar__unsorted {
    padding-left: 10px;
}

.navbar__unsorted--list {
    display: inline;
    list-style-type: none;
}

.navbar__unsorted--anker {
    margin-right: 33px;
}

/* Iconer, Navbar hvid */
.navbar__unsorted--map {
    opacity: 1; /* Sæt opacity til 1, for at gøre iconen hvid. */
}

/* Skygge! */
.navbar__shadow {
    opacity: 0.65;
    position: fixed;
    bottom: 55.8px;
}