<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./rep14/assets/css/main.css">
    <link rel="stylesheet" href="/rep14/assets">
    <link rel="stylesheet" href="/rep14/assets/components/register/register.css">
    <title>Forsideregister</title>
</head>

<body>
    <main>
        <figure>
            <img class="figure__img" src="/assets/img/Ballon.png" alt="Ballon">
            <h2 class="figure__title h2 runda-normal">Din rejsekammerat</h2>
        </figure>
        <fieldset class="runda-normal">
            <label class="label__title" for="Navn">
                <p class="label__title-p p">Email adresse</p>
            </label>
            <input class="imput__title" navn" type="text" placeholder="Email adresse">
            
            <label class="label__title" for="Navn">
                <p class="label__title-p p">Adgangskode</p>
            </label>
            <input class="imput__title" navn" type="password" placeholder="Adgangskode">
        </fieldset>
        <div class="button__wrapper">
            <button class="button__register runda-normal" type="button">REGISTER</button>
        </div>
        <section class="section">
            <p class="section__glemt-dark">
                Glemt adgangskode?
            </p>
            <p class="section__profil-dark">
                Brug for en profil?
            </p>
            <p class="section__register-darkunderline">
                REGISTER
            </p>
        </section>
    </main>
</body>

</html>