<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="register.css">
    <link rel="stylesheet" href="/assets/css/Main.css">
    <title>register</title>
</head>
<body>
    <form>
        <label class="label__title" for="Navn"><p class="label__title-P ptag">Fulde Navn</p></label>
        <input class="imput__title" navn" type="text" placeholder="Fulde Navn">
    </form>
</body>
</html>